<!DOCTYPE html>
<html lang="en">
  <!-- ================ HEAD ==================== -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ======================== FONTS ========================-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <!-- ============== ICONS SCRIPTS ========================-->
    <script
      src="https://kit.fontawesome.com/fe4cf9d18e.js"
      crossorigin="anonymous"
    ></script>

    <!-- ================ EXTERNAL CSS ===========================-->
    <link rel="stylesheet" href="css/styles.css" />

    <title>Login</title>
  </head>

  <body>
    <!-- ============= HEADER ==================== -->
    <header>
      <div class="header">
        <div class="logo">
          <img src="./img/logo-mercado-liebre.svg" alt="Mercado Liebre" />
        </div>

        <div class="find-input">
          <input type="text" placeholder="Buscar productos, marcas y mas" />
          <button>
            <i class="fa fa-search"></i>
          </button>
        </div>

        <p>
          <i class="fas fa-hand-holding-usd" id="buy-icon"></i> Comprar en
          cuotas y sin tarjeta de credito
        </p>
      </div>

      <nav class="login-navbar">
        <ul>
          <li><a href="#" id="ofertas">Ofertas</a></li>
          <li><a href="#" id="tiendas">Tientas Oficiales</a></li>
          <li><a href="#" id="vender">Vender</a></li>
          <li><a href="#" id="ayuda">Ayuda</a></li>
          <li></li>
          <li>
            <a href="./register.html"
              >Crea tu cuenta <i class="fas fa-address-card"></i
            ></a>
          </li>
          <li>
            <a href="./login.html">Ingresa <i class="fas fa-sign-in"></i></a>
          </li>
          <li>
            <a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
        <br />
      </nav>

      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>

    <main>
      <!-- ============== BANNER =================== -->
      <section class="banner">
        <img
          src="/img/img-home-banner.jpg"
          width="200px"
          alt="Banner de ofertas"
        />
      </section>

      <!-- ======= LAST VISIT SECTION ============ -->
      <section class="section-container">
        <h2>Basado en tu última Visita</h2>
        <article class="article-container">
          <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera" />
          <div class="logo-price-discount-container">
            <i id="truck" class="fas fa-truck"></i>
            <div class="price-discount-container">
              <p class="price">$6.670</p>
              <p class="discount">40% Off</p>
            </div>
          </div>
          <div class="descriptions">
            <p>Cafetera Moulinex</p>
          </div>
        </article>

        <article class="article-container">
          <img src="/img/img-macbook-pro-2019.jpg" alt="Macbook" />
          <br />
          <div class="logo-price-discount-container">
            <i id="truck" class="fas fa-truck"></i>
            <div class="price-discount-container">
              <p class="price">$230.000</p>
              <p class="discount">20% Off</p>
            </div>
          </div>
          <div class="descriptions">
            <p>Macbook Pro 2019</p>
          </div>
        </article>

        <article class="article-container">
          <img src="/img/img-samsung-galaxy-s10.jpg" alt="Macbook" />
          <br />
          <div class="logo-price-discount-container">
            <i id="truck" class="fas fa-truck"></i>
            <div class="price-discount-container">
              <p class="price">$70.500</p>
              <p class="discount">10% Off</p>
            </div>
          </div>
          <div class="descriptions">
            <p>Samsung Galaxy S10</p>
          </div>
        </article>

        <article class="article-container">
          <img src="/img/img-tv-samsung-smart.jpg" alt="Smarttv" />
          <br />
          <div class="logo-price-discount-container">
            <i id="truck" class="fas fa-truck"></i>
            <div class="price-discount-container">
              <p class="price">$23.200</p>
              <p class="discount">5% Off</p>
            </div>
          </div>
          <div class="descriptions">
            <p>SmartTv Samsung 43"</p>
          </div>
        </article>
      </section>

      <!--========== OFFER SECTION ==================-->
      <section class="section-container">
        <h2>Sección de Ofertas</h2>

        <article class="article-container">
          <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera" />
          <div class="logo-price-discount-container">
            <i id="truck" class="fas fa-truck"></i>
            <div class="price-discount-container">
              <p class="price">$6.670</p>
              <p class="discount">40% Off</p>
            </div>
          </div>
          <div class="descriptions">
            <p>Cafetera Moulinex</p>
          </div>
        </article>

        <article class="article-container">
          <img src="/img/img-macbook-pro-2019.jpg" alt="Macbook" />
          <br />
          <div class="logo-price-discount-container">
            <i id="truck" class="fas fa-truck"></i>
            <div class="price-discount-container">
              <p class="price">$230.000</p>
              <p class="discount">20% Off</p>
            </div>
          </div>
          <div class="descriptions">
            <p>Macbook Pro 2019</p>
          </div>
        </article>

        <article class="article-container">
          <img src="/img/img-samsung-galaxy-s10.jpg" alt="Macbook" />
          <br />
          <div class="logo-price-discount-container">
            <i id="truck" class="fas fa-truck"></i>
            <div class="price-discount-container">
              <p class="price">$70.500</p>
              <p class="discount">10% Off</p>
            </div>
          </div>
          <div class="descriptions">
            <p>Samsung Galaxy S10</p>
          </div>
        </article>

        <article class="article-container">
          <img src="/img/img-tv-samsung-smart.jpg" alt="Smarttv" />
          <br />
          <div class="logo-price-discount-container">
            <i id="truck" class="fas fa-truck"></i>
            <div class="price-discount-container">
              <p class="price">$23.200</p>
              <p class="discount">5% Off</p>
            </div>
          </div>
          <div class="descriptions">
            <p>Samsung Galaxy S10</p>
          </div>
        </article>
      </section>
    </main>

    <!-- ================= FOOTER =================== -->
    <footer class="footer-container">
      <div class="footer-information">
        <i class="fas fa-credit-card"></i>
        <h2>Pagá con tarjeta o en efectivo</h2>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>

      <div class="footer-information">
        <i class="fas fa-gift"></i>
        <h2>Envío gratis desde $2.500</h2>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>

      <div class="footer-information">
        <i class="fas fa-user-shield"></i>
        <h2>Seguridad, de principio a fin</h2>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </div>
      <p class="copy-right">Copyright ©️ 1999-2022 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
